.channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}
.channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
.channel-header i {
  cursor: pointer;
}
