.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  color: aliceblue;
  background-color: #1d1a1a;
  border-end-end-radius: 20px;
}

.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-full {
  margin-left: 3.5%;
  margin-right: 1.5%;
}
.status-bar__column .fa-bolt {
  font-size: 1px;
}
